@charset "UTF-8";

#motdwrap {
  font-family: "Crimson Text", Georgia, Utopia, Palatino, serif;
  font-size: 14px;
}

@media only screen and (min-width: 800px) {
  #motdwrap {
    font-size: 14px;
    background-image: url(https://static-cytube.github.io/www/hwm/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: right;
}

  #messagebuffer {
    background-image: url(https://static-cytube.github.io/www/hwm/background.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: right;
    background-color: #000000;
  }
}

.ytapiplayer {
  max-width: 1280px;
  max-height: 720px;
}

.chat-msg-LisaQTee .username:before {
  content: "\1F49B  ";
}
.chat-msg-LisaQTee .username {
  color: DeepPink !important;
}
span[data-content="LisaQTee"] {
  color: DeepPink !important;
}
